/* universal style */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* font style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

body{
    background-color: #f0f0f0;
}

/* header style here */
/* shared styles */
header{
    background-color: #FFF8F3;
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 50px;
}

.orange-color{
    color: #FD6E0A;
}

.btn-one{
    padding: 18px 30px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #FD6E0A;
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.btn-two{
    padding: 18px 30px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    font-weight: 600px;
    font-weight: 500;
    cursor: pointer;
}

/* nav style here */
.navbar{
    width: 73%;
    max-width: 1140px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container h2{
    font-size: 40px;
}


ul li{
    list-style: none;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color: #474747;
}
ul{
    display: flex;
    gap: 50px;
    align-items: center;
}

/* ------------------- */
/* banner section style starts here */
#banner-section{
    max-width: 1375px;
    margin-left: 205px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text-container{
    max-width: 580px;
}

.banner-text-container h4{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
}
.banner-text-container h3{
    font-size: 85px;
    font-weight: 800px;
}
.banner-text-container p{
    color: #757575;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-image-container img{
    max-width: 584px;
    vertical-align: middle;
}

/* ------------ */
/* about me section style here */
.about-me{
    max-width: 1140px;
    margin: 100px auto;
    background-color: #FFF8F3;
    padding: 100px 130px;
    border-radius: 10px;
    text-align: center;
}

.first-div{
    max-width: 825px;
    margin: 0 auto;
}

.first-div p{
    margin: 30px 0;
    color: #474747;
}
.first-div h4{
    font-size: 35px;
    font-weight: bold;
}

.second-div{
    max-width: 825px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.second-div p{
    color: #474747;
}
.second-div h5{
    color: #757575;
}


/* ------------ */
/* what do section */
.what-do-section{
    max-width: 1140px;
    margin: 100px auto;
    border-radius: 10px;
    text-align: center;
}

.what-frist-div{
    padding: 0px 130px;
}
.what-frist-div h3{
    font-size: 35px;
    font-weight: bold;
}

.what-frist-div p{
    margin: 30px 0;
    color: #474747;
}

.card-container {
    max-width: 1140px;
    display: flex;
    gap: 20px;
}
.card-container div {
    background-color: white;
    padding: 30px;
    text-align: start;
    border-radius: 5px;
    box-shadow: #FFF8F3;
}
.card-container div h5 {
    margin: 5px 0px;
}
.card-container div p {
    color: #474747;
    margin: 5px 0px;
}



/* ---footer style here--- */
footer{
    width: 100%;
    height: 780px;
    margin: 0 auto;
    padding: 130px 180px;
    display: flex;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF8F3;
}

footer h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 25px;
}
footer p{
    color: #474747;
    margin-bottom: 25px;
}

#name-input{
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    border: none;
    padding: 0px 10px;
    border-radius: 5px;
}
#email-input{
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    border: none;
    padding: 0px 10px;
    border-radius: 5px;
}
#text-area-input{
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
    border: none;
    padding: 20px 10px;
    border-radius: 5px;
}


/* summary section style starts here */
.summary-section{
    max-width: 1140px;
    margin: 100px auto;    
}
.summary-section h2{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.container-of-summary{
    display: flex;
    gap: 70px;
    padding: 50px 0px;
}

.resume-card{
    margin: 20px 0px;
}
.container-of-summary h3{
    font-size: 30px;
    color: #474747;
}
.container-of-summary h4{
    font-size: 20px;
    color: #474747;
}
.container-of-summary h5{
    font-size: 16px;
    margin: 10px 0px;
    color: #474747;
}
.container-of-summary p{
    font-size: 16px;
    margin: 10px 0px;
    color: #474747;
}

.resume-btn{
    text-align: center;
}