/* universal style */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* font style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* header style here */
/* shared styles */
header{
    background-color: #FFF8F3;
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 50px;
}

.orange-color{
    color: #FD6E0A;
}

.btn-one{
    padding: 18px 30px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #FD6E0A;
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.btn-two{
    padding: 18px 30px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    font-weight: 600px;
    font-weight: 500;
    cursor: pointer;
}

/* nav style here */
.navbar{
    width: 73%;
    max-width: 1140px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container h2{
    font-size: 40px;
}


ul li{
    list-style: none;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color: #474747;
}
ul{
    display: flex;
    gap: 50px;
    align-items: center;
}

/* ------------------- */
/* banner section style starts here */
#banner-section{
    max-width: 1375px;
    margin-left: 205px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text-container{
    max-width: 580px;
}

.banner-text-container h4{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
}
.banner-text-container h3{
    font-size: 85px;
    font-weight: 800px;
}
.banner-text-container p{
    color: #757575;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-image-container img{
    max-width: 584px;
    vertical-align: middle;
}

/* ------------ */
/* about me section style here */
.about-me{
    max-width: 1140px;
    margin: 100px auto;
    background-color: #FFF8F3;
    padding: 100px 130px;
    border-radius: 10px;
    text-align: center;
}

.first-div{
    max-width: 825px;
    margin: 0 auto;
}

.first-div p{
    margin: 30px 0;
    color: #474747;
}
.first-div h4{
    font-size: 35px;
    font-weight: bold;
}

.second-div{
    max-width: 825px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.second-div p{
    color: #474747;
}
.second-div h5{
    color: #757575;
}
